// entry-dialog.component.scss
.full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin: 0 10px 15px 0;
  }
  
  mat-dialog-actions {
    padding: 20px 0;
    border-top: 1px solid #eee;
  }